* {
    margin: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
body {
    background: linear-gradient(45deg,rgb(3, 119, 3),red,yellow);

}
table {
    width: 100%;
    margin-top: 30px;
}
img {
    border-radius: 50px;
    box-shadow: 0 0 5px black;
}
 

#header {
    background: rgb(27, 54, 5);
    height: 70px;
}
h1 {
    color: white;

}
#company{
  width: 40%;
  float: left;
  color:blue;
  line-height: 70px;
  height: 70px;
  text-align: center;
}

#menu {
  width: 60%;
  float: right;
  line-height: 70px;
  height: 70px;
  text-align: center;
}

a {
    color:white;
    margin-right: 30px;
    text-decoration: none;
    
}
p{
    margin-top: 20px;
}

#title {
    margin-top: 35px;
}
#pizza {
    margin-top: 20px;
}


#fooditems {
    background-color:purple;
  color: white;
  width: 250px;;
  padding: 10px;
  border-radius: 50%;
  margin:20px auto;
}


#footer {
    background: rgb(27, 54, 5);
    padding: 20px;

    margin-top: 50px;
}
.logo{
    display: inline;
    margin-right: 20px;

    
}
a:hover{ 
    background-color: springgreen;
    border-radius: 50%;
color: black;
    padding: 15px;
    

}


h3{
    margin-top: 20px;
    color: white;
}
